<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.filmr.sys.mapper.FilmAuditMapper">
    <select id="getAuditIdByFilmId" resultType="Integer">
        select audit_id from film_audit
        where film_id = #{film_id}
    </select>

</mapper>
